<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.get.android.FlutterMapper">
    <select id="selectLostItem">
        SELECT
            L.LOST_IDX                          AS lostIdx,
            L.EMAIL                             AS email,
            L.LOST_TITLE                        AS lostTitle,
            L.LOST_CONTENT                      AS lostContent,
            TO_CHAR(L.LOST_DATE, 'YYYY-MM-DD')  AS lostDate,
            TO_CHAR(L.L_REG_DATE, 'YYYY-MM-DD') AS lRegDate,
            L.L_VIEWS                           AS lViews,
            L.LOCATION_CODE                     AS locationCode,
            L.L_LOCATION_DETAIL                 AS lLocationDetail,
            L.ITEM_CODE                         AS itemCode,
            L.L_ITEM_DETAIL                     AS lItemDetail,
            L.REWARD                            AS reward,
            L.COLOR_CODE                        AS colorCode,
            L.LOST_STATE                        AS lostState,
            I.ITEM                              AS itemName,
            C.COLOR_NAME                        AS colorName,
            LOC.SIDO_NAME                       AS sidoName,
            LOC.GUGUN_NAME                      AS gugunName,
            M.NICKNAME                          AS nickname
        FROM LOST_ITEMS L
                 LEFT JOIN ITEMS I ON L.ITEM_CODE = I.ITEM_CODE
                 LEFT JOIN COLORS C ON L.COLOR_CODE = C.COLOR_CODE
                 LEFT JOIN LOCATIONS LOC ON L.LOCATION_CODE = LOC.LOCATION_CODE
                 LEFT JOIN MEMBERS M ON L.EMAIL = M.EMAIL
        WHERE L.LOST_IDX = #{lostIdx}
    </select>


    <select id="selectFoundItem">
        SELECT
            F.FOUND_IDX          AS foundIdx,
            F.EMAIL              AS email,
            F.FOUND_TITLE        AS foundTitle,
            F.FOUND_CONTENT      AS foundContent,
            F.FOUND_DATE         AS foundDate,
            F.F_REG_DATE         AS fRegDate,
            F.F_VIEWS            AS fViews,
            F.ITEM_STATE         AS itemState,
            F.LOCATION_CODE      AS locationCode,
            F.F_LOCATION_DETAIL  AS fLocationDetail,
            F.ITEM_CODE          AS itemCode,
            F.F_ITEM_DETAIL      AS fItemDetail,
            F.COLOR_CODE         AS colorCode,
            F.FOUND_STATE        AS foundState,
            I.ITEM               AS itemName,
            C.COLOR_NAME         AS colorName,
            L.SIDO_NAME          AS sidoName,
            L.GUGUN_NAME         AS gugunName,
            M.NICKNAME           AS nickname
        FROM FOUND F
                 LEFT JOIN ITEMS I ON F.ITEM_CODE = I.ITEM_CODE
                 LEFT JOIN COLORS C ON F.COLOR_CODE = C.COLOR_CODE
                 LEFT JOIN LOCATIONS L ON F.LOCATION_CODE = L.LOCATION_CODE
                 LEFT JOIN MEMBERS M ON F.EMAIL = M.EMAIL -- `F.EMAIL`을 사용하여 조인
        WHERE F.FOUND_IDX = #{foundIdx}
    </select>

    <select id="countMyFindingFoundItems">
        SELECT COUNT(*)
        FROM FOUND
        WHERE FOUND_STATE = 2 AND EMAIL=#{email}
    </select>

    <select id="selectMyFindingFoundItems">
        SELECT
            FOUND_IDX AS foundIdx,
            EMAIL,
            FOUND_TITLE AS foundTitle,
            FOUND_CONTENT AS foundContent,
            TO_CHAR(FOUND_DATE, 'YYYY-MM-DD') AS foundDate,
            TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') AS fRegDate,
            F_VIEWS AS fViews,
            ITEM_STATE AS itemState,
            LOCATION_CODE AS locationCode,
            F_LOCATION_DETAIL AS fLocationDetail,
            ITEM_CODE AS itemCode,
            F_ITEM_DETAIL AS fItemDetail,
            COLOR_CODE AS colorCode,
            FOUND_STATE AS foundState
        FROM FOUND
        WHERE FOUND_STATE=2 AND EMAIL=#{email}
        ORDER BY F_REG_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    <select id="countMyFoundItems">
        SELECT COUNT(*)
        FROM FOUND
        WHERE FOUND_STATE = 1 AND EMAIL=#{email}
    </select>

    <select id="selectMyFoundItems">
        SELECT
            FOUND_IDX AS foundIdx,
            EMAIL,
            FOUND_TITLE AS foundTitle,
            FOUND_CONTENT AS foundContent,
            TO_CHAR(FOUND_DATE, 'YYYY-MM-DD') AS foundDate,
            TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') AS fRegDate,
            F_VIEWS AS fViews,
            ITEM_STATE AS itemState,
            LOCATION_CODE AS locationCode,
            F_LOCATION_DETAIL AS fLocationDetail,
            ITEM_CODE AS itemCode,
            F_ITEM_DETAIL AS fItemDetail,
            COLOR_CODE AS colorCode,
            FOUND_STATE AS foundState
        FROM FOUND
        WHERE FOUND_STATE=1 AND EMAIL=#{email}
        ORDER BY F_REG_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    <select id="countMyFoundReportItems">
        SELECT COUNT(*)
        FROM FOUND
        WHERE (FOUND_STATE=3 OR FOUND_STATE=4) AND EMAIL=#{email}
    </select>

    <select id="selectMyFoundReportItems">
        SELECT
            FOUND_IDX AS foundIdx,
            EMAIL,
            FOUND_TITLE AS foundTitle,
            FOUND_CONTENT AS foundContent,
            TO_CHAR(FOUND_DATE, 'YYYY-MM-DD') AS foundDate,
            TO_CHAR(F_REG_DATE, 'YYYY-MM-DD') AS fRegDate,
            F_VIEWS AS fViews,
            ITEM_STATE AS itemState,
            LOCATION_CODE AS locationCode,
            F_LOCATION_DETAIL AS fLocationDetail,
            ITEM_CODE AS itemCode,
            F_ITEM_DETAIL AS fItemDetail,
            COLOR_CODE AS colorCode,
            FOUND_STATE AS foundState
        FROM FOUND
        WHERE (FOUND_STATE=3 OR FOUND_STATE=4) AND EMAIL=#{email}
        ORDER BY F_REG_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="countMyFindingLostItems">
        SELECT COUNT(*)
        FROM LOST_ITEMS
        WHERE LOST_STATE = 2 AND EMAIL=#{email}
    </select>

    <select id="selectMyFindingLostItems">
        SELECT
            LOST_IDX AS lostIdx,
            EMAIL,
            LOST_TITLE AS lostTitle,
            LOST_CONTENT AS lostContent,
            TO_CHAR(LOST_DATE, 'YYYY-MM-DD') AS lostDate,
            TO_CHAR(L_REG_DATE, 'YYYY-MM-DD') AS lRegDate,
            L_VIEWS AS lViews,
            LOCATION_CODE AS locationCode,
            L_LOCATION_DETAIL AS lLocationDetail,
            ITEM_CODE AS itemCode,
            L_ITEM_DETAIL AS lItemDetail,
            REWARD,
            COLOR_CODE AS colorCode,
            LOST_STATE AS lostState
        FROM LOST_ITEMS
        WHERE LOST_STATE=2 AND EMAIL=#{email}
        ORDER BY L_REG_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    <select id="countMyGetItems">
        SELECT COUNT(*)
        FROM LOST_ITEMS
        WHERE LOST_STATE = 1 AND EMAIL=#{email}
    </select>

    <select id="selectMyGetItems">
        SELECT
            LOST_IDX AS lostIdx,
            EMAIL,
            LOST_TITLE AS lostTitle,
            LOST_CONTENT AS lostContent,
            TO_CHAR(LOST_DATE, 'YYYY-MM-DD') AS lostDate,
            TO_CHAR(L_REG_DATE, 'YYYY-MM-DD') AS lRegDate,
            L_VIEWS AS lViews,
            LOCATION_CODE AS locationCode,
            L_LOCATION_DETAIL AS lLocationDetail,
            ITEM_CODE AS itemCode,
            L_ITEM_DETAIL AS lItemDetail,
            REWARD,
            COLOR_CODE AS colorCode,
            LOST_STATE AS lostState
        FROM LOST_ITEMS
        WHERE LOST_STATE=1 AND EMAIL=#{email}
        ORDER BY L_REG_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    <select id="countMyLostReportItems">
        SELECT COUNT(*)
        FROM LOST_ITEMS
        WHERE (LOST_STATE=3 OR LOST_STATE=4) AND EMAIL=#{email}
    </select>

    <select id="selectMyLostReportItems">
        SELECT
            LOST_IDX AS lostIdx,
            EMAIL,
            LOST_TITLE AS lostTitle,
            LOST_CONTENT AS lostContent,
            TO_CHAR(LOST_DATE, 'YYYY-MM-DD') AS lostDate,
            TO_CHAR(L_REG_DATE, 'YYYY-MM-DD') AS lRegDate,
            L_VIEWS AS lViews,
            LOCATION_CODE AS locationCode,
            L_LOCATION_DETAIL AS lLocationDetail,
            ITEM_CODE AS itemCode,
            L_ITEM_DETAIL AS lItemDetail,
            REWARD,
            COLOR_CODE AS colorCode,
            LOST_STATE AS lostState
        FROM LOST_ITEMS
        WHERE (LOST_STATE=3 OR LOST_STATE=4) AND EMAIL=#{email}
        ORDER BY L_REG_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>

    <select id="getMyCs">
        SELECT *
        FROM CS_CENTER
        WHERE EMAIL=#{email}
        ORDER BY CS_REG_DATE DESC
    </select>
</mapper>