<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.get.security.service.UserMapper">
    <select id="findUser">
        SELECT EMAIL,PASSWORD,USER_GRANT FROM MEMBERS WHERE EMAIL=#{email}
    </select>
    <select id="findUserByEmail">
        SELECT * FROM MEMBERS WHERE EMAIL=#{email}
    </select>
    <insert id="save">
        INSERT INTO MEMBERS values (
 #{email}
 ,#{nickname}
 ,#{password}
 ,#{username}
 ,#{birth}
 ,#{phone}
,null
 ,#{address1}
 ,#{address2}
 ,#{postnumber}
 ,SYSDATE
 ,'USER'
                                  )
    </insert>
</mapper>